* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    padding: 10px 20px;
    background-color: #1e3a8a;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header .logo {
    width: 100px;
}

nav {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: white;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}

.navigation a {
    text-decoration: none;
    color: #ffffff;
    font-weight: normal;
    transition: color 0.3s;
    position: relative;
}

.navigation .dropdown-toggle {
    cursor: pointer;
    position: relative;
}

.navigation .dropdown-menu {
    display: none;
    position: absolute;
    top: 70%;
    left: 70px;
    background-color: #2a448c;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    z-index: 100;
    min-width: 150px;
}

.navigation .dropdown-menu a {
    display: block;
    padding: 10px 20px;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    transition: background-color 0.5s, color 0.5s;
}

.navigation .dropdown-menu a:hover {
    background-color: #1f2e77;
    color: #d3d3d3;
}

.navigation .dropdown-toggle:hover + .dropdown-menu,
.navigation .dropdown-menu:hover {
    display: block;
}

.navigation a:hover {
    color: #1f2468;
}

.navigation a.active {
    background-color: #3749b4;
    padding: 8px 16px;
    border-radius: 8px;
}

.navigation .profile {
    background-color: #3749b4;
    border: none;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
}

.navigation .profile:hover {
    color: #1f2468;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 128px); 
    margin-top: 30px; 
    margin-bottom: 30px; 
    padding: 10px;
}

.profile-container {
    width: 100%;
    max-width: 700px;
    background-color: #ebebeb;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(88, 88, 88, 0.1);
    padding: 20px;
}

.profile-card {
    text-align: center;
}

.profile-card h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.profile-content {
    display: flex;
    gap: 20px;
}

.profile-header {
    text-align: center;
    flex-shrink: 0;
}

.profile-photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
    margin-bottom: 10px;
}

.change-button {
    background-color: #6c9ddf;
    border: none;
    padding: 5px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

.profile-form {
    flex-grow: 1;
    text-align: left;
}

.profile-form .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.profile-form label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #555;
}

.profile-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 14px;
    width: 100%;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.cancel-button,
.save-button {
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 14px;
}

.cancel-button {
    background-color: #ccc;
    color: #333;
}

.save-button {
    background-color: #6c9ddf;
    color: #fff;
}

.profile-footer {
    text-align: center;
    margin-top: 10px;
    padding: 20px;
}

.profile-footer p {
    font-size: 14px;
    color: #555;
}

.profile-footer a {
    text-decoration: none;
    color: #6c9ddf;
} 

.footer-buttons {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin-top: 20px;

}

.logout-button,
.delete-account-button {
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 14px;
}

.logout-button {
    background-color: #ccc;
    color: #333;
}

.delete-account-button {
    background-color: #ff6b6b;
    color: #fff;
}

.footer a {
    color: white;
    margin: 0 0.5rem;
    text-decoration: none;
}

.footer-right{
    display: flex;
}

.footer {
    background-color: #123c92;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center; 
    color: white;
    padding: 40px 48px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer-left {
    display: flex;
    gap: 15px;
}

.footer-left p,
.footer-left a {
    color: #e5eaf0;
    font-size: 14px;
    text-decoration: none;
}

.footer-right a {
    margin: 0 5px;
}

.footer-right img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: white;
    padding: 4px;
    transition: transform 0.3s ease;
}

.footer-right img:hover {
    transform: scale(1.1);
}