
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  position: relative;
  align-items: center;
  justify-content: space-between;
  background-color: #1e3a8a;
  position: sticky;
}

header .logo {
  width: 100px;
}

nav {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color: white;
}

.navigation {
  list-style: none;
  gap: 20px;
}

.navigation a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  transition: color 0.3s;
}

.navigation .profile{
  background-color: #3749b4;
  border: none;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}

.navigation a:hover {
  color: #1f2468;
}

.navigation .profile:hover {
  color: #1f2468;
}

.navigation a.active{
  background-color: #3749b4;
  padding: 8px 16px;
  border-radius: 8px;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
